<html div ng-app="myCustomer"><head>
<!-- Standard Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="dist/angular/angular.js"></script>
<script src="dist/js/app.js"></script>
<script src="dist/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
<style type="text/css">
	body {
		background-color: #DADADA;
	}
	body > .grid {
		height: 100%;
	}
	.image {
		margin-top: -100px;
	}
	.column {


	}
	.main.container {
		margin-top: 7em;

	}
	.main{

	}
	.container{
		/*background: red;*/
	}
</style>

<script>
	$(document).ready(function() {
		$('.menu .item')
		.tab();
	});
</script>

</head>

<body ng-controller="appCtrl">
	<% include navigation %>
	<div class="ui container main" ng-controller="customersCtrl">
		<div class="ui top attached tabular menu">
			<a class="item active" data-tab="first">Booking<div class="ui red label">{{(names|filter:filterType0).length}}</div></a>
			<a class="item" data-tab="fourth">Confirm Payment<div class="ui red label">1</div></a>
			<a class="item" data-tab="second">Coming</a>
			<a class="item" data-tab="third">Visited</a>
		</div>
		<div class="ui bottom attached tab segment active" data-tab="first">
				<div class="ui segment">
				<h2 class="ui header">Customer is Booking</h2>
				<p>Customers who is booking my service.</p>
					<div class="ui active dimmer inverted" ng-show="loading">
						<div class="ui loader"></div>
					</div>

					<table class="ui table">
						<thead>
							<tr>
								<th>Voucher ID</th>
								<th>Customer Name</th>
						<!-- 		<th>Amont</th>
								<th>Date</th>
								<th>Time</th> -->
								<th>Agency Name</th>
								<th>Confirm</th>
								<th>Reject</th>
								<th>Voucher Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in names | filter:filterType0" >
								{{name.length}}
								<td>{{ x._id }}</td>
								<td>{{ x.datas.guessName }}</td>
								<!-- <td>1</td>
								<td>22/01/2016</td>
								<td>13:00</td> -->
								<td>{{ x.agency_email }}</td>
								<td><button class="ui button primary" ng-click="confirmBooking(x._id, 1)">Confirm</button></td>
								<td><button class="ui button red">Inject</button></td>
								<td><a href="#">View</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


		<div class="ui bottom attached tab segment" data-tab="fourth">
				<div class="ui segment">
				<h2 class="ui header">Confirm Payment</h2>
				<p>Confirm Payment</p>
				<div class="ui active dimmer inverted" ng-show="loading">
						<div class="ui loader"></div>
				</div>
					<table class="ui table text">
						<thead>
							<tr>
								<th>Voucher ID</th>
								<th>Payment Date</th>
								<th>Payment Time</th>
								<th>Amount</th>
								<th>From</th>
								<th>Confirm</th>
								<th>Reject</th>
								<th>Slip Detail</th>
								<th>Voucher Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in names | filter:filterType1" >
								<td>DRM-114</td>
								<td>29/01/2016</td>
								<td>13:00</td>
								<td>600 Bath</td>
								<td>Mr. Donut</td>
								<td><button class="ui button primary" ng-click="confirmBooking(x._id, 2)">Approve</button></td>
								<td><button class="ui button red">Disapproval</button></td>
								<td><a href="#">View</a></td>
								<td><a href="#">View</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


		<div class="ui bottom attached tab segment" data-tab="second">
			<div class="ui segment">
				<h2 class="ui header">Customer is coming</h2>
				<p>Customers who were going into the service.</p>
				<div class="ui active dimmer inverted" ng-show="loading">
						<div class="ui loader"></div>
				</div>
					<table class="ui table">
						<thead>
							<tr>
								<th>Voucher ID</th>
								<th>Name</th>
								<th>Date</th>
								<th>Time</th>
								<th>Agency Name</th>
								<!-- <th>Payment Information</th> -->
								<th>Voucher Information</th>
								<th>Visited</th>
								<th>Not Visited</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in names | filter:filterType2" >
								<td>DN-121</td>
								<td>Jakkapan Thonglum</td>
								<td>22/01/2016</td>
								<td>13:00</td>
								<td>Mr. Donut</td>
								<!-- <td><a href="#">View</a></td> -->
								<td><a href="#">View</a></td>
								<td><button class="ui button primary" ng-click="confirmBooking(x._id, 3)">Visited</button>
								<td><button class="ui button red">Not Visit</button>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="third">
				<div class="ui segment">
				<h2 class="ui header">Visited</h2>
				<p>Customers who was visited.</p>
				<div class="ui active dimmer inverted" ng-show="loading">
						<div class="ui loader"></div>
				</div>
					<table class="ui table">
						<thead>
							<tr>
								<th>Guess Name</th>
								<th>Date</th>
								<th>Time</th>
								<th>Agency Name</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in names | filter:filterType3" >
								<td>{{x.datas.guessName}}</td>
								<td>{{x.datas.date}}</td>
								<td>{{x.datas.date}}</td>
								<td>{{x.agency_email}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
		</div>

	</body></html>