<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/main" class="header item">
        <img class="logo" src="">
        Travel Agent Mangement
      </a>
      <a href="/myplace" class="item">My Place</a>
      <a href="/mycustomer" class="item">My Customer</a>
      <a href="/myagency" class="item">My Agency</a>
    </div>
</div>